* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 120px; /* space for the top bar */
  width: 100%;
  background-color: var(--bg);
}

section {
  width: 100%;
}

:root {
    --primary: #8b5e3c;
    --bg: #fff7ed;
    --text: #2b1d14;
    --accent: #f4a261;
    --card: #fdebd3;
    --font-main: "Playfair Display", serif;
    --font-text: "inter", sans-serif;
    --h1: 52px;
    --h2: 36px;
    --h3: 24px;
    --p: 18px;
    --small: 16px;
    --caption: 14px;
}

h1{
    font-family: var(--font-main);
    font-size: 56px;
}

h2{
    font-family: var(--font-main);
    font-size: 36px;
}

h3{
    font-family: var(--font-main);
    font-size: 24px;
}

p{
    font-family: var(--font-text);
    font-size: 18px;
}

small {
    font-family: var(--font-text);
    font-size: var(--small);
}

header{
    background-color: var(--primary);
    padding: 0px 32px;
    height: 120px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* layer position */
}

header h1{
    color: white;
    
    line-height: 120px;

    margin-left: 5vw;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 120px;

    font-family: var(--font-main);
    font-size: var(--h2);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5vw;
}


header li {
    display: inline;
}

.hero{
    background-image: url(image/cookies_home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 75vh;
    width: 100vw;
    padding: 4vh 4vw;

    /* to help locate .slogan and .hero-button */
    position: relative;
}

.slogan{
    position: absolute;
    bottom: 40px;
    right: 64px;
    height: auto;
    width: auto;

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;

    background-color: var(--card);
    border: 2px var(--primary) solid;
    border-radius: 10px;
}

.slogan h3 { 
    color: var(--text);
}


footer {
    height: 150px;
    width: 100%;
    background-color: var(--primary);

    padding: 24px 64px;
    display: flex;
    flex-direction: row;
}

.shop {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.office {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

footer p {
    color: var(--bg);
    line-height: 1.8em;
}

.indent { 
    display: inline-block;
    padding-left: 5ch;
}

.content {
    padding: 32px 64px;

    min-height: 90vh; /* in case the footer stays to high */
}


.cart {
    font-family: var(--font-text);
    font-weight: bold;
}

.top-bar {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 24px;

    padding-bottom: 28px;
}

.back-btn {
    width: 160px;
    height: 48px;
    flex-shrink: 0;

    background-color: var(--primary);
    color: var(--bg);
    font-family: var(--font-main);
    font-size: var(--h3);

    border: 0;
    border-radius: 10px;
}

.search-btn {
    width: 160px;
    height: 48px;
    flex-shrink: 0;

    background-color: var(--accent);
    color: var(--text);
    font-family: var(--font-main);
    font-size: var(--h3);

    border: 0;
    border-radius: 10px;
}

.search-input {
    flex: 1;
    min-width: fit-content;
    height: 48px;
    padding: 12px;
    border: var(--primary) 2px solid;
    border-radius: 10px;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
    
}

.search-input::placeholder{
    font-family: var(--font-text);
    font-style: italic;
    font-size: var(--p);
}

.line-1 {
    display: flex;
}

.line {
    flex: 1;
    height: 2px;
    margin: 4px 0px;
    background-color: var(--primary);
}

.content h2 {
    color: var(--text);
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 32px;
}

.category-card {
    text-decoration: none;
    color: var(--text);

    flex: 1;
    min-width: 200px;
    
    margin: 16px 0px;
}

.category-card:hover {
    text-decoration: underline;
}

.category-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.product-card {
    display: flex;
    gap: 16px;
    padding: 16px 0px;

    align-items: stretch;

}

.product-img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 100%;
}

.product-name {
    color: var(--text);
}

.product-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price-spec {
    display: flex;
    gap: 1ch;
}

.add-btn {
    margin-top: auto;

    width: 120px;
    height: 40px;

    background-color: var(--primary);
    
    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--bg);

    border: none;
    border-radius: 20px;
}

.add-btn:hover {
    background-color: var(--accent);
    color: var(--text);

    border: 2px var(--primary) solid;
    border-radius: 20px;

    cursor: pointer;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
  z-index: 9999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: min(900px, 92%);
  background: var(--card);
  border-radius: 18px;
  overflow: hidden;

  display: flex;
  position: relative;

  transform: scale(0.9);
  transition: 0.25s ease;
}

.modal-overlay.active .modal {
  transform: scale(1);
}

/* close button */
.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: white;

  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

/* left image */
.modal-left {
  width: 45%;
  min-height: 420px;
}

.modal-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* right info */
.modal-right {
  width: 55%;
  padding: 26px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-right h2 {
  margin: 0;
}

.modal-price {
  margin: 0;
}

.modal-desc {
  margin: 0;
  color: var(--text);
  line-height: 1.6;
}

.modal-section p {
  margin: 0;
  color: var(--text);
  line-height: 1.5;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0px;
}

.left-col, .right-col {
    flex: 1;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.pickup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 24px 0px;
}

.pickup-form label {
    font-family: var(--font-main);
    font-size: var(--h3);

    color: var(--text);

}

.pickup-form input, .pickup-form select {
    width: 100%;
    height: 48px;
    padding: 10px;
    border: var(--primary) 2px solid;
    border-radius: 10px;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
}

.pickup-form button {
    width: 160px;
    height: 48px;
    flex-shrink: 0;

    background-color: var(--primary);
    color: var(--bg);
    font-family: var(--font-main);
    font-size: var(--h3);

    border: 0;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 0px;
}

.cart-img {
    width: 140px;
    height: 140px;

    object-fit: cover;
}

.cart-info{
    flex: 1;
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
}

.cart-controls button {
    width: 32px;
    height: 24px;

    border: var(--text);
    border-radius: 15px;
    background-color: var(--accent);

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);

    cursor: pointer;
}

.remove-btn {
    width: 100px;
    height: 32px;

    margin-top: 8px;

    border: var(--text);
    border-radius: 15px;
    background-color: lightcoral;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);

    cursor: pointer;
}

.checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-summary {
    color: var(--bg);
}

.checkout-area {
    display: flex;
    align-items: center;
    gap: 32px;

    color: var(--bg);
}

.checkout-btn {
    width: 160px;
    height: 48px;
    flex-shrink: 0;

    background-color: var(--bg);
    color: var(--primary);
    font-family: var(--font-main);
    font-size: var(--h3);

    border: 0;
    border-radius: 10px;
}

.receipt-items , .receipt-price , .receipt-info{
    padding: 16px 0px;
    line-height: 1.5;
}

.personal-detail {
    display: flex;
    align-items: center;
    gap: 32px;

    width: 100%;

    margin: 32px 0px;
}

.form-div {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personal-detail input {
    height: 48px;
    padding: 10px;
    border: var(--primary) 2px solid;
    border-radius: 10px;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
}

.personal-detail label , .enquiry label{
    font-family: var(--font-main);
    font-size: var(--h3);

    color: var(--text);
}

.enquiry {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 32px 0px;
}



.subject-entry {
    width: 100%;
    height: 48px;
    padding: 10px;
    border: var(--primary) 2px solid;
    border-radius: 10px;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
}

.enquiry-entry {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: var(--primary) 2px solid;
    border-radius: 10px;

    resize: vertical;

    font-family: var(--font-text);
    font-size: var(--p);
    color: var(--text);
}

.send-btn {
    width: 160px;
    height: 48px;

    background-color: var(--accent);
    color: var(--bg);
    font-family: var(--font-main);
    font-size: var(--h3);

    border: 0;
    border-radius: 10px;
}